.menu-back{
  background: url("../src/assets/Img/Header/backgroundHeader.svg");
}
.box-img-form{
  background: url("../src/assets/Img/Body/Form/FormImg.jpg");
}

.box-img-form-controlpanel{
  background: url("../src/assets/Img/Body/Form/FormImg2.jpg");
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #FFC2D4;
}